* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 1rem 3rem;
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #f09819, #ff512f);
    background: linear-gradient(to right, #f09819, #ff512f);
}

h1 {
    text-align: center;
    font-family: cursive;
}