html {
    font-size: 22px;
}

body {
    min-height: 95vh;
    max-width: 1000px;
    color: whitesmoke;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid blue;
    background: linear-gradient(to right,
            #2c5364,
            #203a43,
            #0f2027);
}

ol {
    color: rgb(33, 235, 185);
}